@model IEnumerable<SystemLog.Models.Details>
@{ 
    var Helper = ViewBag.Helper as SystemLog.Helper.Utility;
    var Data = ViewBag.Data as IEnumerable<SystemLog.Models.Details>;
}
<table class="table">
    <thead>
        <tr>
            <th style="text-align:center;">ลำดับ</th>
            <th style="text-align:center;">วันที่สร้างรายการ</th>
            @*<th style="text-align:center;">สถานะ</th>*@
            <th style="text-align:center;">จัดการ</th>
        </tr>
    </thead>
    <tbody>
        @{
            int Date = DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month);
            for (int Day = 1; Day <= Date; Day++)
            {
                DateTime dt = new DateTime(DateTime.Now.Year, DateTime.Now.Month, Day);

                <tr>
                    @{
                        string Bgcolor = "";
                        if (Convert.ToString(dt.DayOfWeek) == "Saturday" || Convert.ToString(dt.DayOfWeek) == "Sunday")
                        {
                            Bgcolor = "#D8D8D8";
                        }
                    }
                    <td style="text-align:center;background-color:@Bgcolor;">@Day</td>
                    <td style="text-align:center;background-color:@Bgcolor;">@Helper.getDateTHAndTimeShortMonth(dt)</td>
                    @*<td style="text-align:center;background-color:@Bgcolor;">สถานะ</td>*@
                    <td style="text-align:center;background-color:@Bgcolor;">
                        @{
                            if (Convert.ToString(dt.DayOfWeek) == "Saturday" || Convert.ToString(dt.DayOfWeek) == "Sunday")
                            {

                            }
                            else
                            {
                                if (Data.Where(a => a.DetailsCreatedate == dt).Count() > 0)
                                {
                                    <button type="button" class="btn btn-info review" value="@dt">ดูรายการ</button>
                                    <button type="button" class="btn btn-danger manage" value="@dt"> จัดการ </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-danger manage" value="@dt"> จัดการ </button>
                                }
                            }
                        }
                    </td>
                </tr>
            }
        }

    </tbody>
</table>



