@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "รายการการติดตามสถานะการดำเนินงาน";
    var Helper = ViewBag.Helper as SystemLog.Helper.Utility;
}

<h2 style="margin-top: 40px; text-align:center;">@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <div style="text-align:center;">
                <label class="control-label col-md-2" >เดือน : </label>
                <select class="form-control col-md-4" id="Month">
                    @{
                        for (int Month = 1; Month < 13; Month++)
                        {
                            if (Month == DateTime.Now.Month)
                            {
                                <option value="@Month" selected="selected">@Helper.getMonth(Month)</option>
                            }
                            else
                            {
                                <option value="@Month">@Helper.getMonth(Month)</option>

                            }

                        }

                    }
                </select>
                <label class="control-label col-md-2">ปี : </label>
                <select class="form-control col-md-4" id="Year">
                    @{
                        var currentYear = DateTime.Today.Year;
                        for (int Year = 2017; Year <= currentYear; Year++)
                        {
                            <option value="@Year">@Year</option>
                        }
                    }
                </select>
                <button type="button" class="btn btn-warning" id="search">ค้นหา</button>
            </div>  
        </div>
        <div id="Viewreport"></div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $(document).ready(function () {
            $(function () {
                var month = $("#Month").val();
                var year = $("#Year").val();
                Getreports(month, year);
                $("#search").click(function () {
                    var month = $("#Month").val();
                    var year = $("#Year").val();
                    Getreports(month, year);
                });
            });

            function Getreports(month, year) {
                $.get("/Detail/Getreport", { "month": month, "year": year }, function (callback) {
                    $("#Viewreport").html(callback);
                    //คลิกปุุ่ม จัดการไปยังหน้าจัดการรายการการติดตามสถานะการดำเนินงาน
                    $(".manage").click(function () {
                        var date = $(this).val();
                        window.location.href = "/Detail/ManageDetails?date=" + date;

                    });

                    $(".review").click(function () {
                        var date = $(this).val();
                        window.location.href = "/Detail/Reportdetail?date=" + date;

                    });
                });
            }

           


        });

    </script>
}
