@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model IEnumerable<SystemLog.Models.Details>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var currentUser = await UserManager.FindByIdAsync(UserManager.GetUserId(User));
}
@{
    ViewData["Title"] = "ค้นหารายงานการติดตามสถานะการดำเนินการ";
    var Helper = ViewBag.Helper as SystemLog.Helper.Utility;
}

<h2 style="margin-top: 40px; text-align:center;">@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-12">
        <div class="well" style="padding:45px;">
            <form asp-controller="Detail" asp-action="SearchReportsAdmin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">บริษัท</label>
                    <div class="col-md-4">
                        @Html.DropDownList("CompanyId", (IEnumerable<SelectListItem>)ViewBag.Company, "---กรุณาเลือกบริษัท---",new { @class = "form-control" })
                    </div>
                    @*<label class="col-md-2 control-label">แผนก</label>
                    <div class="col-md-4">
                       <select id="DepartmentId" name="DepartmentId" class="form-control"></select>
                    </div>*@
                    <label class="col-md-2 control-label">ชื่อพนักงาน</label>
                    <div class="col-md-4">
                        <select id="UserId" name="UserId" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">วันที่เริ่มต้น</label>
                    <div class="SearchDate col-md-4">
                        <input  type="text" class="form-control" name="StartDate" id="StartDate" value="@ViewBag.StartDate" />
                    </div>
                    <label class="control-label col-md-2">วันที่สิ้นสุด</label>
                    <div class="SearchDate col-md-4">
                        <input  type="text" class="form-control" name="EndDate" id="EndDate" value="@ViewBag.EndDate" />
                    </div>
                </div>
                <div style="text-align:center;">
                    <button type="submit" class="btn btn-warning" id="search">ค้นหา</button>
                </div>
            </form>
        </div>
       
        @{ if (Model.Count() > 0)
            {
                <div style="text-align:right;">
                    <button type="button" class="btn btn-success" id="Excelreport">ส่งออก Excel</button>
                </div>
            }
        }
        <div style="margin-bottom:10px;"></div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="text-align:center;" rowspan="2" width="15%">วันที่</th>
                    <th style="text-align:center;" rowspan="2" width="35%">หน่วยงาน/ลูกค้า และอื่นๆ</th>
                    <th style="text-align:center;" colspan="3" >รายละเอียด</th>
                    @*<th style="text-align:center;" colspan="2">หมายเหตุ</th>*@
                </tr>
                <tr>
                    <th style="text-align:center;"width="35%">งาน</th>
                    @*<th style="text-align:center;">วันที่คาดว่าจะเสร็จ</th>*@
                    <th style="text-align:center;"width="10%">สถานะ</th>
                    @*<th style="text-align:center;">ปัญหา/ไม่เรียบร้อย และอื่นๆ</th>
                    <th style="text-align:center;">แนวทางแก้ไข/ปรับปรุง</th>*@
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.Count() > 0)
                    {
                        foreach (var Searchreport in Model)
                        {
                            <tr>
                                <th style="text-align:center;">@Helper.getDateTHAndTimeShortMonth(Searchreport.DetailsCreatedate)</th>
                                <th style="word-break: break-word;">@Searchreport.DetailsName</th>
                                <th style="word-break: break-word;">@Searchreport.DetailWork</th>
                                @*<th>@Helper.getDateTHAndTimeShortMonth(Searchreport.DetailsDueDate)</th>*@
                                @{
                                    if (Searchreport.DetailsStatus == 100)
                                    {
                                        <th style="text-align:center;">สำเร็จ</th>

                                    }
                                    else
                                    {
                                        <th style="text-align:center;">@Searchreport.DetailsStatus %</th>

                                    }
                                }
                                @*<th>@Searchreport.DetailsNoteProblem</th>
                                <th>@Searchreport.DetailsNoteSolve</th>*@
                            </tr>
                                        }

                                    }
                                    else
                                    {
                                        <tr>
                                            <th colspan="7" style="text-align:center;color:red;">***ไม่มีข้อมูลการติดตามสถานะการดำเนินงาน***</th>
                                        </tr>
                                    }
                }

            </tbody>
        </table>
    </div>
</div>
<input type="hidden" name="User" id="User" value="@ViewBag.UserId">

@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready(function () {

            var Id = $("#CompanyId").val();

            $("#StartDate").datepicker({
                minDate: 0,
                maxDate: "+4Y",
                numberOfMonths: 2,
                format: "dd/mm/yyyy"
            });
            $("#EndDate").datepicker({
                minDate: 0,
                maxDate: "+4Y",
                numberOfMonths: 2,
                format: "dd/mm/yyyy"
            });

            $("#Excelreport").click(function () {
                var StartDate = $("#StartDate").val();
                var EndDate = $("#EndDate").val();
                var UserId = $("#User").val();
                window.location.href = "/Detail/ExportreportAdmin?StartDate=" + StartDate + "&EndDate=" + EndDate + "&UserId=" + UserId;
            });

            $("#CompanyId").change(function () {
                var CompanyId = $(this).val();
                $.get("/Detail/EmployeeList", { "CompanyId": CompanyId }, function (rs) {
                    $("#UserId").html(rs);
                });
            });

            $("#CompanyId").val(Id).change();

            $("#search").click(function () {
                var StartDate = $("#StartDate").val();
                var EndDate = $("#EndDate").val();
                if (StartDate > EndDate) {
                    alert("วันที่เริ่มต้นมากกว่าวันที่สิ้นสุด กรุณาตรวจสอบใหม่อีกครั้ง");
                    return false;
                }
                return true;
            });

        });
    </script>

}