@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model IEnumerable<SystemLog.Models.Details>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var currentUser = await UserManager.FindByIdAsync(UserManager.GetUserId(User));
}
@{
    ViewData["Title"] = "ค้นหารายการการติดตามสถานะการดำเนินการ";
    var Helper = ViewBag.Helper as SystemLog.Helper.Utility;
    @ViewBag.MsgDate;
}

<h2 style="margin-top: 40px; text-align:center;">@ViewData["Title"]</h2>

    <div class="row">
        <div class="col-md-12">
            <div class="well" style="padding:45px;">
                <form asp-controller="Detail"  asp-action="SearchReports"asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" id="Form-Search">
                <div style="text-align:center;">
                    <label class="control-label col-md-2">วันที่เริ่มต้น</label>
                    <div class="SearchDate col-md-3">
                       
                        <input  type="text" class="form-control" name="StartDate" id="StartDate" value="@ViewBag.StartDate"/>
                    </div>
                    <label class="control-label col-md-2">วันที่สิ้นสุด</label>
                    <div class="SearchDate col-md-3">
                        <input type="text" class="form-control" name="EndDate" id="EndDate" value="@ViewBag.EndDate"/>
                    </div>
                    <button  class="btn btn-warning col-md-1" id="search">ค้นหา</button>
                </div>
                </form>
            </div>
            <input type="hidden" name="UserId" id="UserId" value="@ViewBag.UserId">
            @{ if (Model.Count() > 0)
                {
                    <div style="text-align:right;">
                        <button type="button" class="btn btn-success" id="Excelreport">ส่งออก Excel</button>
                    </div>
                }
            }
            <div style="margin-bottom:10px;"></div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="text-align:center;" rowspan="2" width="15%">วันที่</th>
                        <th style="text-align:center;" rowspan="2" width="35%">หน่วยงาน/ลูกค้า และอื่นๆ</th>
                        <th style="text-align:center;" colspan="3">รายละเอียด</th>
                        @*<th style="text-align:center;" colspan="2">หมายเหตุ</th>*@
                    </tr>
                    <tr>
                        <th style="text-align:center;" width="35%">งาน</th>
                        @*<th style="text-align:center;">วันที่คาดว่าจะเสร็จ</th>*@
                        <th style="text-align:center;" width="10%">สถานะ</th>
                        @*<th style="text-align:center;">ปัญหา/ไม่เรียบร้อย และอื่นๆ</th>
                        <th style="text-align:center;">แนวทางแก้ไข/ปรับปรุง</th>*@
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.Count() > 0)
                        {
                            foreach (var Searchreport in Model)
                            {
                                <tr>
                                    <th style="text-align:center;">@Helper.getDateTHAndTimeShortMonth(Searchreport.DetailsCreatedate)</th>
                                    <th style="word-break: break-word;">@Searchreport.DetailsName</th>
                                    <th  style="word-break: break-word;">@Searchreport.DetailWork</th>
                                    @*<th  style="text-align:center;">@Helper.getDateTHAndTimeShortMonth(Searchreport.DetailsDueDate)</th>*@
                                    @{
                                        if (Searchreport.DetailsStatus == 100)
                                        {
                                            <th style="text-align:center;">สำเร็จ</th>

                                        }
                                        else
                                        {
                                            <th style="text-align:center;">@Searchreport.DetailsStatus %</th>

                                        }
                                    }
                                    @*<th  style="text-align:center;">@Searchreport.DetailsNoteProblem</th>
                                    <th  style="text-align:center;">@Searchreport.DetailsNoteSolve</th>*@
                                </tr>
                            }

                       } else{
                           
                                <tr>    
                                     <th colspan="7" style="text-align:center;color:red;">***ไม่มีข้อมูลการติดตามสถานะการดำเนินงาน***</th>
                                </tr>
                      }
                    }
                </tbody>
            </table>
        </div>
    </div>
   
@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready(function () {

            $("#StartDate").datepicker({
                minDate: 0,
                maxDate: "+4Y",
                numberOfMonths: 2,
                format: "dd/mm/yyyy"
            });

            $("#EndDate").datepicker({
                minDate: 0,
                maxDate: "+4Y",
                numberOfMonths: 2,
                format: "dd/mm/yyyy"
            });

            $("#Excelreport").click(function () {
                var StartDate = $("#StartDate").val();
                var EndDate = $("#EndDate").val();
                var UserId = $("#UserId").val();
                window.location.href = "/Detail/Exportreport?StartDate=" + StartDate + "&EndDate=" + EndDate + "&UserId" + UserId;
            });

            $("#search").click(function () {
                var StartDate = $("#StartDate").val();
                var EndDate = $("#EndDate").val();
                if (StartDate > EndDate) {
                    alert("วันที่เริ่มต้นมากกว่าวันที่สิ้นสุด กรุณาตรวจสอบใหม่อีกครั้ง");
                    return false;
                }

                return true;
            });
        });
    </script>

    @*<script>
        function Search() {
            var StartDate = $("#StartDate").val();
            var EndDate = $("#EndDate").val();
            if (StartDate > EndDate) {
                alert("วันที่เริ่มต้นมากกว่าวันที่สิ้นสุด กรุณาตรวจสอบใหม่อีกครั้ง");
            }
            document.getElementById("Form-Search").submit();
        }
    </script>*@
   

}