@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model ApplicationUser

@{
    ViewData["Title"] = "แก้ไขผู้ใช้";
}



<form asp-controller="Users" asp-action="EditUsers" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h2>แก้ไขผู้ใช้</h2>

    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label class="col-md-2 control-label">ชื่อผู้ใช้</label>
        <div class="col-md-4">
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <label  class="col-md-2 control-label">รหัสผ่าน</label>
        <div class="col-md-4">
            <input value="@Model.PasswordHash" class="form-control" type="hidden" name="OldPassword" id="OldPassword"/> 
            <input type="password" class="form-control" asp-for="PasswordHash" />
        </div>
    </div>
    <div class="form-group">
        <label  class="col-md-2 control-label">ยืนยันรหัสผ่านอีกครั้ง</label>
        <div class="col-md-4">
            <input class="form-control" type="password"  name="NewPasswordConfirm"/>
        </div>
        <label class="col-md-2 control-label">สิทธิ์การเข้าถึง</label>
        <div class="col-md-4">
            <input type="hidden" id="RoleId"  asp-for="Id">
            @Html.DropDownList("RolesUpdate", (IEnumerable<SelectListItem>)ViewBag.Role, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label">ชื่อ</label>
        <div class="col-md-4">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <label asp-for="LastName" class="col-md-2 control-label">นามสกุล</label>
        <div class="col-md-4">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">บริษัท</label>
        <div class="col-md-4">
            @Html.DropDownList("CompanyId", (IEnumerable<SelectListItem>)ViewBag.Company, new { @class = "form-control" })
        </div>
        <label class="col-md-2 control-label">แผนก</label>
        <div class="col-md-4">
            @*<select id="DeptCompanyId" name="DeptCompanyId" class="form-control"></select>*@
            @Html.DropDownList("UserDepartmentsId", (IEnumerable<SelectListItem>)ViewBag.Departments, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label">อีเมล</label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $(document).ready(function () {

            $("#CompanyId").change(function () {
                var CompanyId = $(this).val();
                alert(CompanyId);
                $.get("/Users/DepartmentsLists", { "DeptCompanyId": CompanyId }, function (rs) {
                    $("#DepartmentsId").html(rs);
                });
            });
        });
    </script>
}
